.feynman {
  position: relative; /*Позиционирование для правильного размещения ссылки*/
  min-height: 890px;
  padding: 0;
  margin: 0;
  background-color: #f2f2f2;
}

/*изображение стоит ТОЧНО по брифу.*/
