.feynman__image {
  position: absolute;
  z-index: 0;
  width: 867px;
  height: 637px;
  left: 0;
  bottom: 0;
}
/*размеры заданы ТОЧНО по брифу*/
/*в брифе первого спринта прямо сказано насчет блока feynman: "В вашей вёрстке внешний вид секции
может отличаться от прототипа. Ссылка может располагаться не на
одном уровне с подзаголовком.*/
