.feynman__subtitle {
  position: absolute;
  margin: 0;
  top: 50%;
  left: 0;
  right: 0;
  text-align: center;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #000000;
  z-index: 1;
}
