.header__link {
  color: #2f80ed;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  transition: opacity 0.2s linear;
}

.header__link:hover {
  opacity: 0.5;
}
