.feynman {
  position: relative; /*Позиционирование для правильного размещения ссылки*/
  min-height: 890px;
  padding-top: 100px;
  background-color: #f2f2f2;
}

/*блок стоит ТОЧНО по брифу.*/
/*в брифе первого спринта прямо сказано насчет блока feynman: "В вашей вёрстке внешний вид секции
может отличаться от прототипа. Ссылка может располагаться не на
одном уровне с подзаголовком.*/
