.feynman__subtitle {
  position: relative;
  margin: 0 auto;
  text-align: center;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #000000;
  z-index: 1;
}
/*элемент стоит ТОЧНО по брифу.*/
/*в брифе первого спринта прямо сказано насчет блока feynman: "В вашей вёрстке внешний вид секции
может отличаться от прототипа. Ссылка может располагаться не на
одном уровне с подзаголовком.*/
